/* var used in order to homogenise the branding colours for ease of use  */
  @import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root{
    --cream: #f4f3e8;
    --taupe: #e2d8c2;
    --zest: #ebfc72;
    --sky: #abbac0;
    --black: #000;
    }

/* My universal selector covers font family, main bg colour, and border box sizing  */
*{
    font-family: Roboto, helvetica, century-gothic, dejavu-sans, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

body{
    background-color: var(--cream);
}
/* nav uses flex box, with logo on the left (which brings up back to the top of teh doc) and other links to the right (which take us to their respective sections
sticky nav keeps nav at teh top of teh page */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sky); 
    width: 100%;
    padding: 20px;
    position: sticky;
    top: 20px;
     
}

nav img {
    height: 75px;
}

nav ul {
    display: flex;
    list-style-type:none;    
}

nav ul li{
    margin-left: 25px;
    margin-right: 25px;
       
}

nav ul li a{
    font-family: 'Yeseva One', Helvetica, serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--zest);
    }

h1 {
    font-family: 'Yeseva One', Helvetica, serif; 
    font-weight: bold;  
    font-size: 30px; 
    color: var(--sky);
    padding: 5px;
    
}

article {
    width: 50%;
}

figure img {
    width: 50%;
    border-radius: 50%;
    
}
.about {
    padding: 50px;
    display: flex;
    flex-wrap:wrap;
    }

.container {
    padding: 50px;
    display: flex;
    flex-wrap:wrap;
       }

.image-gallery{
    display: flex;
    list-style-type:none; 
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.image-gallery img{
    width: 100px;
}

@media screen and (max-width:600px) {
    nav ul {
        display:none;
    }
}
